<app-nav></app-nav>
<div
[class.mt-24]="router.url !=='/'"
[class.container]="router.url !=='/'"
[class.mx-auto]="router.url !=='/'"
 >
  <router-outlet/> 
</div>

<!--
<div class="card bg-base-100 w-1/2 mx-auto p-10 mt-10 shadow-xl">
  <h3 class="text-3xl text-red-500">{{title}}</h3>
  <ul class="list">
    @for (item of members(); track $index) {
     <li class="list-row items-center">
      <div>{{item.summary}}</div>
     </li>
    }
  </ul>
</div> -->

<!-- <ul>
    @for (item of members; track $index) {
        <li>{{item.Date}}-{{item.TemperatureC}}-{{item.TemperatureF}}</li>
    }
</ul> -->
<!-- <ul>
  @for (item of members(); track $index) {
    <li>{{ item.date }} - {{ item.temperatureC }} - {{ item.temperatureF }}</li>
  }
</ul>
<button class="btn btn-warning">Warning</button> -->
 
